body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#dealer-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

#your-cards img {
    height: 175px;
    width: 125px;
    margin: 1px;
}

.btn {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    padding: 0.5em 1em;
    color: darkslategrey;
    background-color:rgb(88, 151, 151);
    border: 5px solid darkslategray;
    border-radius: 5px;

    /* transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    */
    transition: all 0.3s;
}

.btn:hover {
    transform: translateY(-10px);
    background-color: darkslategray;
    color: white;
}